.urbanist-tango1 {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.urbanist-tango6 {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

